@keyframes moveUpDown {
  0% { margin-top: 0px }
  25% { margin-top: 5px }
  50% { margin-top: 0px; }
  75% { margin-top: -5px }
  100% { margin-top: 0px }
}
@keyframes blinking {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 1; }
}

:root {
  --background-color: #1e1e1e; /* Dark gray */
  --text-color: #ffffff; /* White */
  --btn-border: rgb(114, 113, 229) 3px solid;
  --btn-hover-border: #3a4cd6 3px solid;
  --title-color: #0bceff;
  --theme-switcher-content: '\f186';
  --theme-switcher-color: #ffff00;
  --theme-switcher-font: var(--fa-font-solid);
  --theme-switcher-top: 50%;
  --theme-switcher-bg-color: #343232;
  --player-queue-border: rgb(167, 36, 36) 1px solid;
  --player-info-border: #0bff89 1px solid;
  --moduleWait: red;
  --moduleOnline: #12ea81;
  --moduleWaitAnim: blinking 1s infinite;
  --modules-status-border: #0bb6ff 1px solid;
  --module-main-status-border: #0bb6ff 1px solid;
}
[data-theme="light"] {
  --background-color: #fff;
  --text-color: #222;
  --btn-border: rgb(15, 60, 242) 3px solid;
  --title-color: #422ce2;
  --theme-switcher-content: '\f185';
  --theme-switcher-color: #222;
  --theme-switcher-font: var(--fa-font-regular);
  --theme-switcher-top: 50%;
  --theme-switcher-bg-color: #e2d561;
  --player-queue-border: rgb(167, 36, 36) 3px solid;
  --player-info-border: #0bff89 3px solid;
  --modules-status-border: #27a0d3 3px solid;
}
[data-theme-auto=true] {
  --theme-switcher-content: '\41';
  --theme-switcher-font: var(--fa-font-solid);
  --theme-switcher-top: 48%;
}

body {
  color-scheme: light dark;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) {
  body {
    width: 58vw; /* 100/scale */
    scale: 1.7;
    transform-origin: 0 0;
   }
}

.hidden {
  display: none;
}
div.text-info.hidden {
  display: none;
}

.main-title {
  font-family: "Kode Mono", monospace;
  font-size: 40px;
  color: var(--title-color);
  text-align: center;
}

.main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.btn {
  scale: 4;
  margin-top: 70px;
  margin-bottom: 90px;
  width: 40px;
  height: 40px;
  border: var(--btn-border);
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  
  &:hover {
    border: var(--btn-hover-border);
    .bar {
      background-color: #1aa747; 
    }
  }

  .bar {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    width: 3px;
    height: 20px;
    border-radius: 3px;
    background-color: rgb(228, 27, 27);
    transform-origin: center;
    transition: transform 0.4s ease-in-out, background 0.1s ease-in-out, margin-top 0.4s;
  }
  
  &.loading {
    .bar {
      background-color: rgb(230, 14, 14);
      animation: moveUpDown 1s infinite;
    }
    .bar-1 {
      transform: translateX(13.5px) translateY(0px) rotate(0deg);
      animation-delay: 0.5s;
    }
    .bar-2 {
      transform: translateX(24px) translateY(0px) rotate(0deg);
    }
  }  

  &.pause {
    .bar {
      background-color: rgb(14, 230, 54);
    }
    .bar-1 {
      margin-top: 0px;
      transform: translateX(13.5px) translateY(0px) rotate(0deg);
    }
    .bar-2 {
      margin-top: 0px;
      transform: translateX(24px) translateY(0px) rotate(0deg);
    }
  }
  
  &.play {
    .bar {
      background-color: rgb(41, 239, 23);
    }
    .bar-1 {
      margin-top: 0px;
      transform: translateX(20px) translateY(-5px) rotate(-55deg);
    }
    .bar-2 {
      margin-top: 0px;
      transform: translateX(20px) translateY(5px) rotate(-125deg);
    }
  }
}

.theme-switch {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: var(--theme-switcher-bg-color);
  border-radius: 20px;
  margin-bottom: 25px;
}
.theme-switch input[type="checkbox"] {
  display: none;
}
.theme-switch::before {
  content: var(--theme-switcher-content);
  font: var(--theme-switcher-font);
  color: var(--theme-switcher-color);
  display: block;
  position: absolute;
  top: var(--theme-switcher-top);
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
}

.player-queue-box {
  opacity: 1;
  transition: opacity 1s ease-in-out, height 0.5s ease-in-out, outline 0.3s ease;
  outline: var(--player-queue-border);
  border-radius: 10px;
  margin: 8px 0 10px;
  max-width: 90vw;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .player-queue-box {
    max-width: 55vw;
  }
}
.player-info-box-top {
  opacity: 1;
  outline: var(--player-info-border);
  border-radius: 10px;
  padding: 10px;
  height: 90px;
  transition: opacity 1s ease-in-out, height 0.5s ease-in-out, outline 0.3s ease;
  position: relative;
  z-index: 1;
}
.queue-box {
  margin: 0;
  padding: 10px 10px 0;
}
.player-queue-box .player-info {
  display: flex;
  align-items: center;
  font-size: 18px;
  text-align: left;
  color: var(--text-color);
}
.player-queue-box .additional {
  font-family: "Black Ops One", system-ui;
  font-size: 17px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-style: italic;
  color: var(--text-color);
}
.player-info .images {
  text-align: center;
  display: block;
  margin: 0;
}
.player-info .images img {
  border-radius: 10px;
  height: 70px;
  max-width: 50vw;
  margin: 0;
}
.player-info .images .image-wait {
  height: 90px;
}

.player-queue-box .text-info {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  margin-left: 15px;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}
.text-info .author {
  font-family: "Cinzel", serif;
  font-size: 15px;
  margin: 0;
}
.text-info .title {
  font-family: "Anta", sans-serif;
  margin: 0;
}
.queue-box p {
  font-family: "Anta", sans-serif;
  color: var(--title-color);
  margin: 0 0 10px;
}
.queue-box .queue-elements p {
  color: var(--text-color);
}
p.timer {
  font-family: "Audiowide", sans-serif;
  font-size: 15px;
  margin: 0;
  color: var(--text-color);
  text-align: right;
}

.modules-status {
  outline: var(--modules-status-border);
  border-radius: 10px;
  position: relative;
  z-index: 1;
  padding: 15px;
  margin-top: 10px;
}
.modules-status .module {
  display: flex;
  align-items: center;
  font-size: 18px;
  text-align: left;
  margin: 0;
  padding: 3px
}
.modules-status .status {
  text-align: center;
  display: block;
  margin: 0;
  &.problem {
    color: var(--moduleWait);
    animation: var(--moduleWaitAnim);  
  }
  &.online {
    color: var(--moduleOnline);
  }
  &.idle {
    color: var(--moduleOnline);
    animation: var(--moduleWaitAnim);
  }
}
.modules-status .text-info {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  margin-left: 15px;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}
.text-info .name {
  font-family: "Anta", sans-serif;
  margin: 0;
}
.text-info .url {
  font-family: "Kode Mono", monospace;
  font-size: 10px;
  margin: 0;
}

.session-id p{
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 0;
  margin: 0 0 5px 0;
}
.session-id {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 0;
  transition: height 0.5s ease-in-out;
}